{%- if site.disqus -%}
<div class="show-comments">
  <a class="bttn" id="show-comments-button" onClick="disqus();return false;">Show Comments</a>
</div>
<div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_loaded = false;
        var disqus_shortname = '{{ site.disqus }}';
        var url_parts = window.location.href.split("?");
        var disqus_url = url_parts[0];
        function disqus() {
          if (!disqus_loaded) {
            disqus_loaded = true;
            var dsq = document.createElement("script");
            dsq.type = "text/javascript";
            dsq.async = true;
            dsq.src = "//" + disqus_shortname + ".disqus.com/embed.js";
            (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(dsq);
            //Hide the button after opening
            document.getElementById("show-comments-button").style.display = "none";
          }
        }
        //Opens comments when linked to directly
        var hash = window.location.hash.substr(1);
        if (hash.length > 8) {
            if (hash.substring(0, 8) == "comment-") {
                disqus();
            }
        }
        //Remove this if you don't want to load comments for search engines
        if(/bot|google|baidu|bing|msn|duckduckgo|slurp|yandex/i.test(navigator.userAgent)) {
          disqus();
        }
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{%- endif -%}
